<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jlnshen.kptaipei">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
>

        <service
            android:name="jlnshen.kptaipei.service.KPApiSpiceService"
            android:exported="false" />
    </application>

</manifest>
